<div class="item-wrapper" [ngClass]="{'top-rated-course': courseItemData.isTopRated}">
  <section class="main-section">
    <h3>{{ courseItemData.title }}
      <trng-icon *ngIf="courseItemData.isTopRated" [iconLigature]="IconsEnum.STAR" [color]="'yellow'"></trng-icon>
    </h3>
    <p>{{ courseItemData.description }}</p>
  </section>
  <section class="sub-section">
    <div class="info">
      <span class="course-duration">
        <trng-icon [iconLigature]="IconsEnum.CLOCK"></trng-icon>
        <span>{{ convertMinutes(courseItemData.duration) }}</span>
      </span>
      <span class="course-release">
        <trng-icon [iconLigature]="IconsEnum.CALENDAR"></trng-icon>
        <span>{{ courseItemData.creationDate.toLocaleDateString() }}</span>
      </span>
    </div>
    <div class="buttons">
      <trng-button [text]="'Edit'" [iconLigature]="IconsEnum.EDIT"></trng-button>
      <trng-button [text]="'Delete'" (click)="deleteItem(courseItemData.id)" [iconLigature]="IconsEnum.DELETE"></trng-button>
    </div>
  </section>
</div>
