.top-rated-course {
  background-color: #f8d25354;
}

.item-wrapper {
  &:not(.top-rated-course) {
    background-color: #ffffff;
  }
  border-radius: 5px;
  border: 2px rgb(225, 225, 225) solid;
  padding: 3vh;
  display: flex;
  margin-bottom: 4vh;
  height: 14vh;

  .main-section {
    width: 80%;
    float: left;

    p {
      font-size: 0.8em;
    }

    h3 {
      margin-top: 1vh;
      margin-bottom: 1vh;

      trng-icon {
        position: relative;
        top: 0.2em;
      }
    }
  }

  .sub-section {
    width: 20%;

    .buttons {
      float: right;

      :nth-child(2) {
        margin-left: 1vw;
      }
    }

    .info {
      margin-bottom: 2vh;
      color: #9ea2ad;

      span{
        position: relative;
        bottom: 0.2em;
        padding-left: 0.2em;
        font-size: 0.9em;
      }

      .course-release {
        float: right;
      }
    }
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    color: #767984;
  }
}