footer {
  background-color: #30323f;
  width: 100%;
  color: #bab9be;
  height: 6vh;
  position: absolute;
  bottom: 0;

  span {
    grid-column: 7 / 12;
    text-align: end;
    line-height: 6vh;
    font-size: 0.7em;
  }
}