trng-search {
  grid-column: 2 / -1;
  margin-top: 2vh;
}

.add-btn {
  grid-column: 10 / 12;
  text-align: end;
  margin-bottom: 2vh;
}

trng-course-item {
  grid-column: 2 / 12;
}

.more-btn {
  grid-column: 2 / 12;
}

section {
  span {
    grid-column: 2 / 12;
    background-color: #ffffff;
    padding: 1vh;
    text-align: center;
    border-radius: 3px;
    border: 2px rgb(225, 225, 225) solid;

    &:not(.no-data-msg) {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}