<trng-header></trng-header>
<trng-modal *ngIf="isModalOpened"
  [modalConfig]="modalConfig"
  (closeModalEvent)="onCloseModalEvent()"
></trng-modal>
<!-- move modal layer to modal component -->
<div [ngClass]="{'modal-opened-layer': isModalOpened}"></div>
<div class="page" [ngClass]="{'page-modal-opened': isModalOpened}">
  <section *ngIf="!isAuthenticated">Login page</section>
  <router-outlet *trngIfAuthenticated (activate)="subscribeToRouterActivate($event)"></router-outlet>
</div>
<trng-footer></trng-footer>
