header {
  height: 8vh;
  background-color: #30323f;
  width: 100%;
  color: #bab9be;
  margin-bottom: 3vh;

  .title {
    grid-column: 2 / 4;

    span {
      position: relative;
      bottom: 0.5em;
      color: white;
    }
  }

  .btns {
    grid-column: 9 / 12;
    text-align: right;

    .user-btn, .logout-btn {
      cursor: pointer;
      position: relative;
      top: 30%;

      span {
        position: relative;
        bottom: 0.2em;
        margin-left: 0.3em;
      }
    }

    .logout-btn {
      margin-left: 1vw;
    }
  }
}

.breadcrumbs {
  height: 3vh;
  position: absolute;
  top: 8vh;
  width: 100%;
  background: white;

  span {
    grid-column: 2 / 4;
  }
}