/* You can add global styles to this file, and also import other style files */
html {
  height: 100vh;
}

body {
  height: 100vh;
  min-height: 100%;
  position: relative;
  font-family: 'Roboto', serif;
  margin: 0;
}

.gryd {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.background {
  &-green {
    background-color: #67a300;
  }

  &-default {
    background-color: #019ecc;
  }

  &-white {
    background-color: #b9bac0;
  }
}

.color {
  &-default {
    color: inherit;
  }

  &-yellow {
    color: #ffc406;
  }
}